<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    </head>
    <body>
        <h1>Person is <%= ID %></h1>
        <h2>Querystring is <%= Qstr %></h2>
    </body>
</html>